

tr:nth-child(1){
background-color:#87CEEB;}

#change1{background-color:#0000FF;}

#change4{background-color:#FFFF00;}

#change2{background-color:#ADFF2F;}

#change3{background-color:#D2691E;}

#change5{background-color:#87CEEB;}

#change6{background-color:#FFC0CB;}

#change7{background-color:#32CD32;}

#change8{background-color:#DC143C;}

.change9{background-color:#87CEEB;}
